.main-img {
	background-color:#ECF0F1;
	width:100%; 
	height:auto; 
	border-radius: 10px;
	margin-top: 5px;
}
.top-reviews {
	background-color: #ECF0F1;
	width: 100%;
	height: 500px;
	border-radius: 10px;
	margin-top: 5px;
}
.top-reviews h3{
	margin-top: 0px;
	text-align: center;
}
.top-reviews div a p{
	font-size: 15px;
}
.top-reviews div a h1{
	font-size: 20px;
	margin-top: 0px;
}
.main-img h3 {
	margin-top: 0px;
	margin-bottom: 0px;

}
.main-img img {
	width: 100%;
	border-radius: 10px;
}
.saussage {
	background-color: #ECF0F1;
	width: 110%;
	height: auto;
	margin-top: 5px;
	border-radius: 10px;
	margin-left: -15px;
}
.saussage h3 {
	margin-top: 0px;
	margin-left: 5px;
}
.saussage img {
	width: 100%;
	border-radius: 10px;
	height: 150px;
}
#a {
	width: 105% !important;
}
.bottom-menu {
	margin-top: 10px;
	height: 100px;
}